################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LaunchCodeApi/.vs/LaunchCodeApi/v15/Server/sqlite3
